body {
  margin: 5% auto;
  background-color: rgb(100,110,120);
  color: rgb(170,190,200
}

fieldset {
  width: 60%;
}

legend {
  text-align: center;
  font-size: 20pt;
}

.sumbit {
  text-align: center;
}

@media only screen and (min-width: 800) {
}

@media only screen and (max-width: 800) {
  fieldset: width: 70%;
}
