body {
  margin: 5% auto;
  background-color: rgb(150,160,170);
  color: rgb(150,160,170);
}

fieldset {
  width: 60%;
  margin: 5% auto;
  background-color: rgb(220,230,235);
}

legend {
  text-align: center;
  font-size: 30pt;
}

label {
  margin: 20px 10px;
  font-size: 20pt;
}

input {
  margin: 20px 10px;
}

.sumbit {
  text-align: center;
}

@media only screen and (min-width: 800) {
}

@media only screen and (max-width: 800) {
  fieldset: width: 70%;
}
